/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,body {
  color: #222;
  font-size: 1em;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.main-bottom,
header,
.footer-top {
  width: 60vw;
  align-items: center;
  margin: auto;
}

footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding-bottom: 55px;
}

p {
  color: #757575;
  font-size: 65%;
  padding-bottom: 10px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding: 5px;
}

footer p {
  font-size: 55%;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
}

h6 {
  text-align: left;
  padding: 0 3px 0 3px;
  margin: 0;
}

h5 {
  text-align: center;
  padding: 0 3px 0 3px;
  margin: 10px 0 0 0;
}

h2 {
  margin: 45px 0 10px 0;
}

h1 {
  margin: 10px;
}

a {
  color:rgb(0, 132, 255);
}

a:visited {
  color: plum;
}

hr {
  padding: 0 5px 0 5px;
  width: 92%;
}

main img {
  width: 90%;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
}

main .text {
  margin-bottom: 20px;
}

.info-box {
  width: 95%;
  height: 200px;
  border: 1px solid #ccc;
}

.row {
  display: grid;
  row-gap: 1rem;
}

.col {
  position: relative;
}



.button-home,
.button-pages,
.button-blog,
.button-porfolio,
.button-mail {
  margin: 0%;
  width: 75px;
  height: 75px;
  padding: 0;
  border: none;
}

.title h1 {
  padding-top: 20px;
  align-items: center;
}

.text {
  text-align: center;
}

.text p {
  margin: 0;
  padding: 0;
}

.photo-inside {
  background: #e5e5e5;
  width: 100%;
  height: 350px;
}

.photo-inside img {
  height: 348px;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.top-text {
  margin-top: 40px;
}

.icon-image {
  width: 100px;
  margin: auto;
  padding:0;
  display: flex;
  justify-content: center;
}

.icon-bottom {
  width: 100%;
  margin: 20px 0 10px 0;
}

.footer-top {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.mrbean {
  width: 45px;
  border-radius: 100%;
}

.minions{
  margin: 0%;
  padding: 0%;
}

.minions img {
  width: 4vw;
  padding:5px 1.5px 5px 1.5px;
}

.tweet {
  display: flex;
  justify-content: center;
}

.twitter {
  border-radius: 100%;
  width: 50px;
  margin: auto;
}

.mail {
  width: 85%;
}

.footer-text {
  font-weight: 450;
  border-bottom: 2px solid rgb(110, 109, 109);
}

.triangle {
  left: -30px;

}

@media screen and (max-width: 40rem) {
  .main-bottom,
  header,
  .footer-top {
  width: 90vw;
  align-items: center;
  margin: auto;
  }
  .row {
    max-width: 90vw;
  }
  .s-col-1 {
    grid-template-columns: 1fr;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .s-col-2 {
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
  .minions img {
    width: 28vw;
  }
  main img {
    width: 90vw;
  }
  .button-home,
  .button-pages,
  .button-blog,
  .button-porfolio,
  .button-mail {
  margin: 0%;
  width: 17vw;
  height: 17vw;
  padding: 0;
  border: none;
  }
  .icon-bottom {
    width: 43vw;
    margin: 10px 1vw 10px 1vw;
  }
  .info-box {
    width: 90vw;
  }
  .mail {
    width: 88vw;
  }
}

@media screen and (min-width: 40rem){
  .row {
    margin: auto;
    max-width: 60vw;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
  .m-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .m-col-2-1 {
    grid-template-columns: 0.75fr 1fr;
  }
  .m-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .m-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .m-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }

}

@media screen and (min-width: 64rem){
  .row {
    margin: auto;
    max-width: 60vw;

  }
  .l-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .l-col-2-1 {
    grid-template-columns: 0.7fr 1fr;
  }
  .l-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .l-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .l-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .l-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}




/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

